*, *::before, *::after {
    box-sizing: border-box;
    
}
body {
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
    color: #8d8d8d;
}
.container {
    background: #fbe9e7;
    min-height: 100vh;
    padding: 20px;
}
.tags {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 5px;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
}
.tags_item {
    border: solid 1px #57b25f;
    color: #57b25f;
    padding: 0.125em 0.75em ;
    border-radius: 2em;
}
button {
    border: none;
    background-color: #ff8a66;
    color: #fff;
    font-family: "Raleway" serif;
    text-transform: uppercase;
    border-radius: 2em;
    font-size: 13px;
    padding: 1.3em 3em;
    letter-spacing: 0.2em;
    font-weight: 500;
}
.card {
    display: flex;
    max-width: 750px;
    background: #fff;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 14px 32px 0 rgba(0, 0, 0, 0.15);
}
.card__img {
    display: block;
    max-width: 50%;
    height: auto;
    object-fit: cover;
}
.card__content {
    padding: 52px 38px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.card__title {
    font-family: "Bentham", serif;
    color: #474747;
    font-size: 34px;
    margin: 0;
}
.card__text {
    margin: 0 0 15px;
}
.card__tags {
    padding: 0;
}
.card__price {
    color: #474747;
    font-family: "Suranna" serif; 
    font-size: 34px;
     font-weight: bold;
}
.card__button {
    display: flex;
    align-items: center;
    gap: 30px;
}